html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 0;
    padding: 75px 0;
    background: linear-gradient(#D6A3A3 ,#E6C79C);
}

img{
    height: 200px;
}

h1{
    font-size: 27px;
    font-weight: lighter;
    color : lightcoral;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}


#hint{
    font-size: x-small;
}